body {
    background-image: url(img/ross-parmly-copy.jpg);
    background-size: cover;
    background-position: top;
}

.about-jumbotron {
    background-size: cover;
    background-position: center;
}

.about-img {
    width: 340px;
    height: 240px;
}

.service-jumbotron {
    background-size: cover;
    background-position: center;
}

.team-jumbotron {
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #ffffff !important;
}

img {
    width: auto;
    height: 500px;
}

p{
    line-height: 30px;
}

.team {
    margin: 0px;
}

.index-img {
    width: 100%;
    height: 50%;
    border-radius: 50%;
}



@media screen and (min-width:768px){

    img {
        width: auto;
        height: auto;
    }

    .about-img {
        width: 300px;
        height: 220px;
        margin-top: 90px;
    }

    .index-img {
        width: 35%;
    }
}


@media screen and (min-width:992px){
    .index-img {
        width: 100%;
        height: auto;
    }

    .about-img {
        margin-top: 0%;
    }
}

@media screen and (min-width:1200px) {

    img {
        width: auto;
    }

    .about-img {
        width: 300px;
        height: 220px;
        margin-top: 10px;
    }
}

.team-img {
    width: auto;
    height: 260px;
}
